package pages 

import "github.com/mtanng9/love-my-waifu/templates/components"

templ FavoritesPage() {
    <p>Favorites</p>
    @components.WaifuBanner()
    @components.WaifuBanner()
    @components.WaifuBanner()
    @components.WaifuBanner()
}