package pages

import "github.com/mtanng9/love-my-waifu/templates/components"


templ Index() {
    <div class="bg-[#fff0f6]">
        <h1 class="flex justify-center text-[#c2255c] text-xl p-3 ">
            Plan Your Day with a Waifu
        </h1>

        <h2 class="flex justify-center text-[#c2255c] py-4">
            Your Daily Anime Companion + Adventure Awaits!
        </h2>

        @components.GenerateButton()

        @components.WaifuBanner()
    </div>
    
}