package pages 

templ SettingsPage() {
    <h1>Settings for User XXX</h1>
    <div>
        <h2>Change Password</h2>
        <h2>Change UserName</h2>
        <h2>Change Email Password</h2>
    </div>
}