package pages 

import "github.com/mtanng9/love-my-waifu/templates/components"

templ SettingsPage() {
    <h1 class="flex justify-center text-[#c2255c] p-6 text-xl">Settings for User XXX</h1>
    <div class="flex flex-col text-white p-10 mx-120 bg-[#fcc2d7] border-solid border-[#f472b6] border-2">
        <h2 class="flex justify-center py-6">Change Password</h2>
        <h2 class="flex justify-center py-6">Change UserName</h2>
        <h2 class="flex justify-center py-6">Change Email Password</h2>
    </div>
    @components.Footer()
}