package pages 

import "github.com/mtanng9/love-my-waifu/internal/templates/components"

templ ChatPages() {
    <h1 class="text-[#c2255c] p-5">Hello User XXX</h1>
    @components.WaifuBanner(false)
    @components.ChatBox()

}