package components

templ Navbar() {
    <div class="flex flex-row bg-[#fff0f6] justify-between">
        <img class="w-1/2"src="" alt="Logo of site">

        <div class="flex flex-row p-6">
            <h2 class="text-[#f472b6] px-6">About</h2>
            <h2 class="text-[#f472b6] px-6">Log In</h2>
            <h2 class="text-[#f472b6] px-6">Sign Up</h2>
        </div>
        
    </div>
    <hr class="bg-[#f472b6] border-0 h-px">
}