package components

templ Navbar() {
<div class="navbar bg-base-100 shadow-sm bg-[#fff0f6]">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl text-[#f472b6]">Love My Waifu</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li class="text-[#f472b6] px-6"><a>About</a></li>
      <li class="text-[#f472b6] px-6"><a>Log In</a></li>
      <li class="text-[#f472b6] px-6"><a>Sign Up</a></li>
    </ul>
  </div>
</div>
    <hr class="bg-[#f472b6] border-0 h-px">
}