package components 

templ GenerateButton() {
    <div class="mx-135 bg-[#fff0f6] py-4">
        <h1 class="flex justify-center text-white bg-[#f783ac] rounded-2xl p-3">Generate My Day</h1>
    </div>
}